.item-title {
    color: #1b6d85;
    margin-bottom: -5pt;
}

.item-category {
    color: #8c8c8c;
    font-size: 10pt;
}

.game-item {
    box-shadow: 1pt 1pt 2pt #888888;
    margin: 7pt;
    margin-bottom: 10pt;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
    max-width: 120pt;
}

.game-item:hover {
    box-shadow: 0pt 6pt 10pt #888888;
}

.item-details-div {
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
}

.game-item img {
    max-width: 120pt;
    width: auto;
    height: auto;
}