/**
 * Created by emran on 12/24/16.
 */
.owl-item img {
    max-height: 100pt;
    width: auto;
    height: auto;
}

div.owl-carousel {
    position: absolute;
    bottom: 0px;
}

#first-viewport {
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ),
    url("../images/call-of-duty-background-18.jpg");
}

#details {
    position: absolute;
    top: 25%;
    right: 25%;
    left: 30%;
    bottom: 30%;
    color: white;
}

#details-title, #details-content {
    margin-bottom: 30pt;
}

#details-content {
    color: #b4b5ba;
}

#game-pge-btn {
    margin-left: 40pt;
    font-size: 12pt;
}

#top-right-span {
    position: absolute;
    right: 25%;
    top: 7pt;
}