/**
 * Created by emran on 12/24/16.
 */
.owl-item img {
    max-height: 100pt;
    width: auto;
    height: auto;
}

#first-viewport {
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ),
    url("../images/call-of-duty-background-18.jpg");
}

#details {
    position: absolute;
    top: 25%;
    right: 25%;
    left: 30%;
    bottom: 30%;
    color: white;
}

#details-title, #details-content {
    margin-bottom: 30pt;
}

#details-content {
    color: #b4b5ba;
}

#trailer-div .glyphicon {
    top: 7pt;
}

#game-pge-btn {
    margin-left: 40pt;
    font-size: 12pt;
}

#top-right-span {
    position: absolute;
    right: 25%;
    top: 7pt;
}

#top-left-span {
    position: absolute;
    left: 30%;
    top: 7pt;
}

#top-left-span a {
    margin-left: 15pt;
}

#top-left-span button {
    width: 80pt;
}

#new-games-carousel .item-title {
    color: #1b6d85;
    margin-bottom: -5pt;
}

#new-games-carousel .item-category {
    color: #8c8c8c;
    font-size: 10pt;
}

#new-games-carousel .item {
    box-shadow: 1pt 1pt 2pt #888888;
    margin: 7pt;
    margin-bottom: 10pt;
}

#new-games-carousel .item:hover {
    box-shadow: 0pt 6pt 10pt #888888;
}

.item-details-div {
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
}

#comments-div .item img {
    width: 30pt;
    height: 30pt;
    margin-left: -15pt;
}

#comments-div .item {
    border-bottom: solid #d1d1d1 1px;
    margin-bottom: 10pt;
    margin-left: 25pt;
}

#comments-div {
    margin-bottom: 0px;
}

#main-carousel .item h4 {
    right: 10pt;
    bottom: 10pt;
    color: white;
}







